@import "theme.css";

* {
    margin: 0;
    padding: 0;
    border: none;
    color: var(--text-color);
    font-family: 'Poppins', sans-serif;
    outline: none;
}

body {
    background: var(--background);
}

header, footer {
    background: var(--highlighted-area-background);
    padding: 1em;
    user-select: none;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

div.content {
    margin: 1em;
}

span.tip {
    font-size: small;
    color: var(--highlight-light);
}

span.warning {
    font-size: small;
    color: var(--warn);
}
