* {
  color: white;
  padding: 0;
  margin: 0;
  transition: all ease-in-out 0.2s;
  font-family: "Bahnschrift", serif;
  user-select: none;
}

body {
  background-image: url("img/planets-2120004.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  align-content: center;
  padding-top: 2em;
}

h1, h2 {
  text-align: center;
}

h2 {
  font-weight: normal;
}

.section {
  margin: 2em auto;
}

a.card-link {
  display: block;
  box-sizing: border-box;
  margin: 1em auto;
  padding: 0 1em;
  max-width: 800px;
  text-decoration: none;
}

a.card-link:hover {
  /*transform: scale(1.02);*/
  padding: 0;
}

a.card-link .card {
  margin: 0 auto;
  padding: 1em 1.5em;
  backdrop-filter: blur(16px);
  background-color: rgba(0, 0, 0, 0.2);
  border-width: 2px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.5);
  border-radius: 16px;
  display: grid;
  grid-template-columns: 4em auto;
  width: calc(100% - 3em);
}

a.card-link:hover .card {
  background-color: rgba(0, 0, 0, 0.4);
  border-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(8px);
}

a.card-link .card img {
  width: 3em;
  max-height: 3em;
  height: auto;
  margin: auto;
}

a.card-link .card .text {
  align-content: start;
  margin: auto 2em;
  /*font-size: large;*/
}

a.card-link .card .text span {
  display: block;
  margin: 4px 0;
}

a.card-link .card .text .title {
  font-weight: bold;
}

a.card-link .card .text .label {
  font-weight: lighter;
}
