@import "colors.css";

button, .a-button-wrapper a.button {
    background: var(--highlighted-area-background);
    padding: 0.5em;
    border-radius: 4px;
    border: var(--highlight-light) 1px solid;
    font-weight: bold;
    user-select: none;
    transition: all 0.2s ease-in-out;
}

button:disabled, .a-button-wrapper a.button.d, .a-button-wrapper a.button.d:hover {
    opacity: 0.5;
    cursor: default;
    border: var(--blocked-color) 1px solid;
}

.a-button-wrapper {
    margin: 8px auto auto;
}

.a-button-wrapper a.button {
    text-decoration: none;
}

button:hover, .a-button-wrapper a.button:hover {
    border: var(--focus-color) 1px solid;
}
